body {background-color: rgb(0, 0, 0);}

.logo h1 {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-0%, 0%);
}

.video1  {
    filter: brightness(65%);
    width: 100%;
    z-index: -1;
    top: 0;
    right:0;
    left:0;
    bottom:0;
}
.absolute {
    filter: brightness(80%);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 135%);
}

.float ul {
    display: inline-block;
    
}

.float li {
    display: inline-block;
    list-style: none;
    padding-top: 25px;
    padding-left: 10px;

}

nav {
    width: 100%;
    height: 70px;
    background-color: dimgray;
    box-sizing: border-box;
}

.title {
    color: white;
    font-weight: bold;
    margin-top: 300px;
    font-size: 4vw;
}

p1 {
    color: white;
    font-size: 2vw;
}

p2 {
    color: white;
    font-size: 1.2vw;
}

p3 {
  color: #fff;
  font-size: 1.5vw;
}


.box {
  color: #fff;
}

.listbox {
  border: rgb(255, 255, 255) 2px solid;
}

.box1 {
  color: black;
  
}


a {
    display: block;
    text-decoration: none;
    color: white;
}

#cards {
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    height: 315px;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .card:nth-child(2) {
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .picture img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    transition: all 0.5s;
  }

  .picture img:hover{
    width: 105%;
    height: 215px;
  }
  
  .description {
    width: 100%;
    height: 145px;
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
  }
  
  .description p {
    font-size: 13px;
    color: dimgray;
  }



/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
.splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background:#333;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width:260px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}


.Page1 {
  margin: 0 0 0 10%;
  filter: brightness(80%);
  border-radius: 30px;
}

.Subtitle {
  font-family: "Hannari";
  padding-top: 10%;
  color: #fff;
  font-size: 500%;
}

.Time{
  font-size: 280%;
  width: 49%;
  color: #fff;
  margin: 5% 0 0 20%;
  padding: 0;
}

.Time1{
  font-size: 240%;
  width: 49%;
  color: #fff;
  margin: -25% 0 0 77.5%;
  padding: 0;
}


.flex{
  display: flex;
  justify-content: space-between;
}

.Picture1{
  width: 49%;
  margin: 5% 0 0 7%;
  filter: brightness(80%);
  border-radius: 30px;
}